<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.Dao.PhotoDao">
    <resultMap id="BaseResultMap" type="com.example.demo.Entity.Photo">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="img1" property="img1" />
        <result column="img2" property="img2" />
        <result column="img3" property="img3" />
        <result column="music" property="music" />
        <result column="createtime" property="createtime" />
        <result column="description" property="description" />
        <result column="type" property="type" />

    </resultMap>

    <select id="searchByName" resultMap="BaseResultMap">
        select * from photo where name = #{name}
    </select>

    <select id="getImgList" resultMap="BaseResultMap">
        select * from photo
    </select>

    <select id="getRecordById" resultMap="BaseResultMap">
        select * from photo where id = #{id}
    </select>

    <select id="getListByName" resultMap="BaseResultMap">
        select * from photo where name like concat('%',#{name},'%')
    </select>

    <update id="updateWithoutFile" parameterType="com.example.demo.Entity.Photo">
        update photo
        set description = #{description}, type = #{type}, createtime = #{createTime}
        where
        id = #{id}
    </update>

    <update id="updateImg1" parameterType="com.example.demo.Entity.Photo">
        update photo
        set img1 = #{imgName}
        where
        id = #{id}
    </update>

    <update id="updateImg2" parameterType="com.example.demo.Entity.Photo">
        update photo
        set img2 = #{imgName}
        where
        id = #{id}
    </update>

    <update id="updateImg3" parameterType="com.example.demo.Entity.Photo">
        update photo
        set img3 = #{imgName}
        where
        id = #{id}
    </update>

    <update id="updateMusic" parameterType="com.example.demo.Entity.Photo">
        update photo
        set music = #{musicName}
        where
        id = #{id}
    </update>



    <insert id="upLoadImg" parameterType="com.example.demo.Entity.Photo">
        insert into photo(name,img1,img2,img3,music,createtime,description,type)
        values(#{name},#{img1},#{img2},#{img3},#{music},#{createtime},#{description},#{type})
    </insert>

    <delete id="deleteMsg" parameterType="String">
        delete from photo where name = #{name}
    </delete>

</mapper>
